<!doctype html>
<html ng-app>
<head>
  <meta charset="utf-8">
  <script src="angular.min.js"></script>
  <title>My First App with AngularJS</title>
</head>
<body>
  <h1>World Cup Brasil 2014</h1>
  <div>
    <label>Which team will win the group D?</label>
    <p>Costa Rica</p>
  </div>
  <div>
    <table>
      <tr><td>Costa Rica</td></tr>
      <tr><td>England</td></tr>
      <tr><td>Italy</td></tr>
      <tr><td>Uruguay</td></tr>
    </table>
  </div>
  <div ng-init="count=0">
    <button ng-disabled="checked" ng-click="count = count + 1">
       Votes for Costa Rica will win the group
    </button>
    <br />
    <button ng-disabled="checked" ng-click="count = count - 1">
       Votes for Costa Rica won´t win the group
    </button>
    <br />    
    count: {{count}}
  </div>
  <p>Do you want to disable the buttons? <input type="checkbox" ng-model="checked"></p>
</body>
</html>
